extends layout

block content 
    div(style="height: 15%;").container
    div.container
        div.align-items-end
            div.col-sm-12
                h2.h2-responsive.text-white memories
                    div.container.border.border-white.rounded.bg-light.custom-rules-div