extends layout

block content
    div.mask.rgba-gradient.d-flex.justify-content-center.align-items-center
        div.container
            div.row
                div.col-md-12.mb-4.white-text.text-center
                    h2.h2-reponsive.text-white.font-weight-bold.mb-0.mt-4.pt-md-5.pt-5 tony Mangine Classic
    div.container.h-50
    div.container
        div.row.justify-content-center
            div.col-sm-6.col-12.text-center.text-sm-right.text-white
                a.btn.btn-outline-light.px-5.btn-custom Login
            div.col-sm-6.col-12.text-center.text-sm-left.text-white
                a.btn.btn-outline-light.px-5.btn-custom Register
    script(src="/js/index.js")
    script(src="/js/main.js")
