doctype html
html
  head
    if title
        title= `TMC | ${title}`
    else
        title TMC
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monda")
  body
      div(id="main-bg")
          img(src="/images/golf_main_bkrnd.jpg" id="main-bg").bg
      nav.navbar.navbar-expand-lg.navbar-light.navbar-custom
          a(href="/").navbar-brand TMC
          ul.navbar-nav.mr-auto#navbar
              li(id="home-nav" class-title=="Home"?"nav-item active":"nav-item").navbar-item
                  a(href="/").nav-link Home
              li(id="rules-nav" class-title=="Rules"?"nav-item active":"nav-item").navbar-item
                  a(href="#").nav-link Rules
              li(id="honors-nav" class-title=="Honors"?"nav-item active":"nav-item").navbar-item
                  a(href="#").nav-link Honors
              li(id="gallery-nav" class-title=="Gallery"?"nav-item active":"nav-item").navbar-item
                  a(href="#").nav-link Gallery
      block content
        
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
