body {

    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
}

html {
    height: 100%;
}

.bg {
    /* The image used */
     background-image: url("../images/golf_main_bkrnd.jpg");

     /* Full height */
     height: 100%;

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

     /* set blur effects */
     filter: blur(1px) sepia(60%);
}

/*
******************* NAVBARS ****************************************************
*/

nav.navbar {
    background: none;
}

.navbar .navbar-brand {
    color: #fbf7f5;
    font-family: "Monda";
    font-size: 32px;
}

.navbar .navbar-brand:hover {
    color: 	#ffbb91 !important;
}

li.navbar-item {
    border-right: 1px solid #fbf7f5;
    height: 35px;
}

.navbar .navbar-nav .nav-link {
    color: 	#fbf7f5;
    font-family: "Alata";
    font-size: 18px;
}

li.active a {
    color: 	#ffbb91 !important;
}

li a:hover {
    color: 	#ffbb91 !important;
}

/*
*********************** LANDING PAGE *******************************************
*/


.btn-custom {
    color: #fbf7f5;
    margin: 25px 10px 10px 10px;
    font-family: "Alata";
    border-color: #fbf7f5;

}

.btn-custom:hover {
    background-color: transparent;
}
