html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

/* change back ground color of navbar at break point
@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
    margin-bottom: 10px;
  }
}
*/

h1 {
  letter-spacing: 8px;
  font-family: "Alata";
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

/*
a.btn:hover {
    color: black !important;
}
*/
/*
******************* NAVBARS ****************************************************
*/

nav.navbar {
    background: none;
}

.navbar .navbar-brand {
    color: #fbf7f5;
    font-family: "Monda";
    font-size: 32px;
}

.navbar .navbar-brand:hover {
    color: 	#ffbb91 !important;
}

li.navbar-item {
    border-right: 1px solid #fbf7f5;
    height: 35px;
}

.navbar .navbar-nav .nav-link {
    color: 	#fbf7f5;
    font-family: "Alata";
    font-size: 18px;
}

div.navbar-nav a.active {
    color: 	#ffbb91 !important;
}

/*
*********************** LANDING PAGE *******************************************
*/


.btn-custom {
    color: #fbf7f5;
    margin: 25px 10px 10px 10px;
    font-family: "Alata";
    border-color: #fbf7f5;
    width: 200px;
}

.btn-custom:hover {
    color: 	#ffbb91 !important;
    background-color: transparent;
}

/*
*********************** RULES PAGE ********************************************
*/
div.custom-rules-div {
    opacity: .6 !important;
}

div.list-group a.active {
    background-color: #ffbb91 !important;
}

div.list-group a.list-group-item {
    border: 2px solid white;
}
